*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: rgba(28, 82, 221, 0.56);
    color: white;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 58px 0;

}

nav{
    display: flex;
}
nav ul{
    margin: 0;
    padding: 12px 0;
    font-size: 30px;
}
nav li{
    display: inline-block;
    margin-right: 60px;
    list-style: none;
}
ul li:last-child{
    padding-right: 0px;
}
nav a{
    color: #EBEBEB;
    text-decoration: none;
}
nav a.active{
    color: white;
    font-weight: 700;
}
button{
    background: linear-gradient(90deg, #345AA4 -28.35%, rgba(63, 0, 156, 0) 153.96%);
    padding: 18px 36px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    border-radius: 13px;
    border: none;
}
nav button{
    text-transform: uppercase;
}

main{
    display: flex;
    padding: 0 0 173px 0;
}
main section{
    display: flex;
    flex-direction: column;
    margin: 0 58px;
}

h1{
    font-size: 72px;
    font-weight: 600;
    color: white;
    margin: 70px 0 0;
    line-height: 82px;
}
h2{
    color: #E5E5E5;
    font-size: 36px;
    font-weight: 400;
    margin: 8px 0 55px 0;
    line-height: 42px;
}

.img-block{
    width: 100%;
    height: auto;
}
