*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background: linear-gradient(180deg, #92DDC2 0%, #544E94 100%);
    height: 1000px;
}
form{
margin: 100px auto;
width: 375px;
padding: 58px
20px;
background: #0A0171;
border: 1px solid #FFFFFF;
box-shadow: 30px 30px 35px rgba(10, 1, 113, 0.3);
border-radius: 30px;
text-align: center;
color: white;
}
h1{
    margin: 51px 0 27px;
    font-size: 20px;
    font-weight: bold;
}
p{
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;

}
input, button{
    padding: 20px;
    width: 335px;
    border-radius: 20px; border: solid white;
    color: white;
}
input{
    background-color: #0A0171;
    border: 1px solid white;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: white;
    font-size: 14px;
}
button{
    background: #2BC990;
    border:solid#2BC990;
    font-size: 20px;
    font-weight: bold;
}
div{
    margin-bottom: 20px;
}